#main-list-view-div{
	height: 100%;
	width: 95%;
	margin-left: 20px;
}


li{
	list-style-type: none;
}


.Logged{
	background-color: blue;
}

#button-selections{
	width: 100%;
}

#employee-report-div{
	margin-top: 20px;
	margin-left: 20px;
}

#employee-report-div, #job-report-div{
	display: inline-block;
	width: 20%;
}