#create-new-div{
	width:100%;
	text-align:right;
}

#create-new-job{
	width: 100px;
	right: 40px;
	top: 20px;
	position: fixed;
}



/* this is for the modal form popup */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.create-job-modal-content {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	width: 40%;
	height: 76%;
	border-radius: 20px;
}

.modify-job-modal-content{
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	width: 40%;
	height: 67%;
	border-radius: 20px;
}

.createJobClose, .modifyJobClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#createMapView{
	display: block;
	height: 150px;
	width: 100%;
}

#employee-list-div{
	display: block;
	margin-top: 10px;
}

#map{
	width: 100%;
	height: 150px;
	display: block;
	border-radius: 10px;
}

#long-lat-div{
	width: 100%;
	height: 50px;
	display: inline-block;
}

#long-div{
	width: 50%;
	display: inline-block;
}
#lat-div{
	width: 50%;
	margin-right: 0px;
	float: right;
	
}







#modify-job-button{
	background-color:#0080ff;
	color:white;
	text-shadow: none;
}

#delete-job-button{
	background-color:#DC143C;
	color:white;
	text-shadow: none;
}



#create-job-button{
	background-color:#0080ff;
	color:white;
	text-shadow: none;
}

.createJobClose:hover,
.createJobClose:focus,
.modifyJobClose:hover,
.modifyJobClose:focus
 {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#employee-ul{
	height: 200px;
}


.scrollable {
	overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#add-all-button-div{
	width:100%;
	
}

#add-all{
	width: 30%;
	float: right;
}

#finalize-div{
	width: 100%;
}




#job-listview-div{
	display:block;
	margin-top: 100px;
	width: 100%;
}







